<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="form-group login">
      <label for="post-title" class="form-label mt-4">Title</label>
      <input type="text" id="post-title" name="post-title" class="form-control" />
    </div>
    <div class="form-group login">
      <label for="description" class="form-label mt-4">Description</label>
      <textarea type="text" id="description" name="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="mt-5">
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>